# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

trello_key={ADD YOUR TRELLO KEY HERE}
trello_token={ADD YOUR TRELLO TOKEN HERE}
trello_bord_id={ADD YOU TRELLO BOARD ID HERE}
