{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>No Todo List Found</h2>
      <p>Please click the button below to create the list on the board specified in your config.</p>
    
      <!-- Button to go to add item page -->
      <button class="btn btn-primary" onclick="window.location.href='/createTodoList'">Create Todo List</button>
    </div>
  </div>
{% endblock %}
