{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="container">
    <h2>Items</h2>
    <br>
    {% if writer %}
    <a href='/addItem'>Add a new item</a>
    <p></p>
    {% endif %}
    <div class="row">
      <div class="col-md">
        <table class="table" id="Todo Table">
          <thead class="thead-light">
            <th>To Do</th>
            <th></th>
          </thead>
          {% for item in view_model.todo_items %}
          <tr>
            <td>{{ item.title }}</td>
            {% if writer %}
            <td>Mark as <a href="/doing_item/{{ item.id }}">Doing</a> | <a href="/complete_item/{{ item.id }}">Done</a></td>
            {% endif %}
          </tr>
          {% endfor %}	
        </table>
      </div>
      <div class="col-md">
        <table class="table" id="Doing Table">
          <thead class="thead-light">
            <th>Doing</th>
            <th></th>
          </thead>
          {% for item in view_model.doing_items %}
          <tr>
            <td>{{ item.title }}</td>
            {% if writer %}
            <td>Mark as <a href="/reopen_item/{{ item.id }}">To Do</a> | <a href="/complete_item/{{ item.id }}">Done</a></td>
            {% endif %}
          </tr>
          {% endfor %}	
        </table>
      </div>
      <div class="col-md">
        <table class="table" id="Done Table">
          <thead class="thead-light">
            <th>Done</th>
            <th></th>
          </thead>
          {% for item in view_model.done_items %}
          <tr>
            <td>{{ item.title }}</td>
            {% if writer %}
            <td>Mark as <a href="/reopen_item/{{ item.id }}">To Do</a> | <a href="/doing_item/{{ item.id }}">Doing</a></td>
            {% endif %}
          </tr>
          {% endfor %}	
        </table>
      </div>
    </div>
  </div>
{% endblock %}
