{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <h5>To Do</h5>
      <table class="table">
        {% for item in items %}
        <tr>
          <td>{{ item.title }}</td>
          <td><button class="btn btn-checked btn-sm" onclick="window.location.href='/complete_item/{{ item.id }}'">Mark as complete</button></td>
        </tr>
        {% endfor %}	
      </table>
      <br>
      <a href='/addItem'">Add a new item</a>
    </div>
  </div>
{% endblock %}
